<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="ApiGetInitSize" value="https://recruitment-test.investcloud.com/api/numbers/init/"/>
    <add key="ApiGetDataSet" value="https://recruitment-test.investcloud.com/api/numbers/"/>
    <add key="ApiPostValidate" value="https://recruitment-test.investcloud.com/api/numbers/validate"/>
  </appSettings>
</configuration>
